@page
@model StonkTrader.Pages.HelpModel
@{
}
<div id="help-screen">
	<h1>How to Play</h1>
	<br />
	<h2><b>Goal:</b> Have the most money at the end of the game</h2>
	<p><b>How do I do that?</b> Buy stocks! When the market is open, you can buy and sell stocks. When the market closes, stock values will go up and down with randomized rolls. Stocks valued at 100 or over pay dividends based on how many shares of that stock you hold. If a stock's' value goes to 200, the stock splits and every player with shares in that stock get double. Watch out though, because a stock can also crash resulting in all shares of that stock being lost.</p>


	<form action="/">
		<button type="submit" id="backButton" class="btn btn-primary menu-button">Back</button>
	</form>
</div>
