@page

<head>
	<script src="~/js/signalr/dist/browser/signalr.js"></script>
	<script src="~/js/chartjs.min.js"></script>
	<script src="~/js/chartjs-plugin-datalabels.js"></script>
	<script src="~/js/chartjs-plugin-annotations.js"></script>
	<script src="~/js/game.js"></script>
</head>

<div class="grid-player-main grid-fill" id="mainGrid">
	<div class="center-absolute menu-grid">
		<button id="createGame" class="btn btn-primary grid-row-1 menu-button" disabled>Create Game</button>
		<button id="joinGame" class="btn btn-primary grid-row-2 menu-button" disabled>Join Game</button>
		<button id="watchGame" class="btn btn-primary grid-row-3 menu-button" disabled>Watch Game</button>
		<form action="/help" class="grid-row-4">
			<button type="submit" id="howToPlay" class="btn btn-primary fill menu-button">How To Play</button>
		</form>
	</div>
</div>