
<!--<meta http-equiv="refresh" content="5">-->

<head>
	<link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../wwwroot/css/site.css">
	<script src="../../wwwroot/lib/jquery/dist/jquery.min.js"></script>
	<script src="../../wwwroot/js/chartjs/chart.min.js"></script>
	<script src="../../wwwroot/js/game.js"></script>
</head>

<div class="grid-player-main grid-fill" id="mainGrid">
	<div class="center-absolute menu-grid">
		<button id="createGame" class="btn btn-primary grid-row-1 menu-button">Create Game</button>
		<button id="joinGame" class="btn btn-primary grid-row-2 menu-button">Join Game</button>
	</div>
</div>

