
<!--<meta http-equiv="refresh" content="5">-->

<head>
	<link rel="stylesheet" href="../../wwwroot/lib/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../wwwroot/css/site.css">
	<script src="../../wwwroot/lib/jquery/dist/jquery.min.js"></script>
	<script src="../../wwwroot/js/game.js"></script>
</head>

<div class="grid-player-main grid-fill" id="mainGrid">
	<!--<div id="buyScreen" class="fill grid-row-2">
		<p class="buy-sell-prompt">How much Gold would you like to buy?</p>
		<div class="buy-sell-control">
			<select class="buy-sell-prompt grid-column-2 grid-row-1 fill" name="amount" id="buyamount">
				<option value="0">0</option>
				<option value="500">500</option>
				<option value="1000">1000</option>
				<option value="1500">1500</option>
			</select>
			<button class="btn btn-success buy-sell-button fill grid-column-3 grid-row-1" id="buy">Buy</button>
			<div class="buy-sell-cancel fill">
				<button class="btn btn-danger buy-sell-button fill grid-column-2" id="cancel">Cancel</button>
			</div>
		</div>
	</div>-->
	
</div>

