@page
@model StonkTrader.Pages.Game.CharactersModel

<div id="menu-character-container" class="center-absolute">
	<div class="menu-character-select-grid">
		<h1>Select Your Character</h1>
		@foreach(var kvp in Model.Characters)
		{
			string buttonId = $"selectCharacter{kvp.Value.Id}";
			string nameId = $"characterName{kvp.Value.Id}";
			<div class="character-card">
				<div class="character-text-grid grid-column-1">
					<h2 class="grid-row-1" id="@nameId">@Html.DisplayFor(m => kvp.Value.Name)</h2>
					<p class="grid-row-2">@Html.DisplayFor(m => kvp.Value.Description)</p>
				</div>
				@*<img class="btn btn-primary character-img grid-column-2" src="~/favicon.ico"/>*@
				<button id="@buttonId" class="btn btn-primary grid-column-2">Select</button>
			</div>
		}
		<div class="character-card-button">
			<button id="backButton" class="btn btn-outline-primary menu-button fill">Back</button>
		</div>
	</div>
</div>