@{
    ViewData["Title"] = "Stonk Trader";
}

<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="site.css">

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/game.js"></script>

<div class="text-center">
    <br />
    <br />
    <br />
    <h1 class="display-4">Welcome</h1>
    <button id="createGame" class="btn btn-primary">Create Game</button>
    <button id="joinGame" class="btn btn-primary">Join Game</button>
</div>
