/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.scrollviewer-vertical {
    overflow-y: auto;
    overflow-x: hidden;
}

.margin-small{
    margin:5px;
}

.fill {
    width: 100%;
    height: 100%;
}

.roll-text{
	text-align: center;
	font-size: 7vh;
}

.roll-display {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 20% 20% 20% 20% 20%;
}

.chart-grid {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 85% 15%;
	overflow: hidden;
}

.menu-text {
   font-size: 7vh;
   text-align: center;
	margin: auto;
}

.menu-sub-grid {
   display: grid;
   width: 100%;
   height: 100%;
   grid-template-rows: 50% 50%;
}

.menu-grid{
   display: grid;
   width: 80%;
   height: 50%;
   grid-template-rows: 50% 50%;
   grid-row-gap: 1vh;
}

.menu-button{
   font-size: 6vh;
   word-wrap: break-word;
   line-height: 6vh;
}

.market-closed {
   font-size: 6vh;
   text-align: center;
   width: 100%;
}

.buy-sell-control {
   display: grid;
   grid-template-columns: 9% 40% 40%;
   grid-template-rows: 50% 50%;
   grid-column-gap: 1vh;
   grid-row-gap: 3vh;
}

.buy-sell-button {
   font-size: 4vh;
}

.buy-sell-cancel{
   display: grid;
   grid-template-columns: 24% 50%;
   grid-column-start: 2;
   grid-column-end: 4;
   margin: 1vh;
}

.buy-sell-prompt{
   text-align: center;
   font-size: 6vh;
   font-weight: 700;
   align-content: center;
}

.stock-banner {
    border: solid 2px;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: 1vh;
}

.buy-sell-div {
    border-bottom: solid;
}

.buy-sell-buttons {
    display: grid;
    grid-template-columns: 20% 30% 30%;
}

.buy-sell-text {
    font-weight: 900;
    font-size: 4vh;
    margin: 1vh;
}

.stock-text {
    font-weight: 700;
    font-size: 4vh;
    margin: 1vh;
}

.center-absolute {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.grid-fill {
    display: grid;
    width: 100%;
    height: 100%;
}

.grid-player-main {
    grid-template-rows: 25% 75%;
}

.grid-observer-main {
	display: grid;
	width: 100%;
	height: 100%;
	grid-template-rows: 10% 90%;
}

.grid-row-1 {
    grid-row-start: 1;
    grid-row-end: 2;
    max-height: 100%;
    max-width: 100%;
}

.grid-row-2 {
    grid-row-start: 2;
    grid-row-end: 3;
    max-height: 100%;
    max-width: 100%;
}

.grid-row-3 {
    grid-row-start: 3;
    grid-row-end: 4;
    max-height: 100%;
    max-width: 100%;
}

.grid-row-4 {
    grid-row-start: 4;
    grid-row-end: 5;
    max-height: 100%;
    max-width: 100%;
}

.grid-column-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    max-height: 100%;
    max-width: 100%;
}

.grid-column-2 {
    grid-column-start: 2;
    grid-column-end: 3;
    max-height: 100%;
    max-width: 100%;
}

.grid-column-3 {
    grid-column-start: 3;
    grid-column-end: 4;
    max-height: 100%;
    max-width: 100%;
}

html {
    font-size: 14px;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

/*@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}*/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#money {
    font-size: 8vh;
    text-align: center;
    font-weight: 700;
    color: green;
}
